GLITCH_DEBUGGER=true
# Environment Config

# store your secrets and config variables in here
# only invited collaborators will be able to see your .env values

# reference these in your code with process.env.SECRET
SECRET=
MADE_WITH=
MONGO_URI='mongodb+srv://judithperezconde2331:Proyecto202510@simplex.khxxudh.mongodb.net/?retryWrites=true&w=majority&appName=simplex'
# note: .env is a shell file so there can't be spaces around =
# The entire url should be surrounded by single quotes

